PORT=3003
MONGO_URI=mongodb://host.docker.internal:27017/media-service
RABBITMQ_URL=amqp://rabbitmq:5672
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret